{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}
  <div class="col-lg-8">
    <div class="woocommerce-cart-form">
      <table class="shop_table shop_table_responsive cart" cellspacing="0">
        <tbody>
{% for row in rows %}
    		{{- row.content -}}
 {% endfor %}


         <div class="row sub-total">
            <div class="col-sm-6"><a href="{{ url('<front>') }}product">Continue shopping</a></div>
              <div class="col-sm-6 text-md-right">
                {#<span>Subtotal</span> #}
                <span class="woocommerce-Price-amount amount">
                  <span class="woocommerce-Price-currencySymbol"></span>
                  {#{{ row.content['#view'].style_plugin.render_tokens[ loop.index0 ]['{{ total_price__number }}'] }}#}
                   {{ view.style_plugin.getField(loop.index0, 'total_price__number') }}
                </span>
              </div>
         </div>


  		</tbody>
  	</table>
  </div>
</div>
     
