{#
/**
 * @file
 * Default theme implementation for field collection items.
 *
 * Available variables:
 * - content: An array of comment items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {% hide(content.field_example) %} to temporarily suppress the printing
 *   of a given element.
 * - title: The (sanitized) field collection item label.
 * - url: Direct url of the current entity if specified.
 * - page: Flag for the full page state.
 * - attributes: HTML attributes for the surrounding element.
 *    Attributes include the 'class' information.
 * - content_attributes: HTML attributes for the content element.
 *
 * @see template_preprocess()
 * @see template_preprocess_entity()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'field-collection-item',
    'field-collection-item--name-' ~ field_collection_item.name|clean_class,
    'field-collection-item--view-mode-' ~ field_collection_item.view_mode|clean_class,
  ]
%}
<div class="col-12 col-md-6 col-lg-3">
  <div class="feature-icn">
    <img src="{{content.field_icon|render|striptags|trim}}" height="54" width="54">
  </div>
  {% set title = content.field_title|render|striptags|trim %}
  <h3>{{ title |convert_encoding('UTF-8', 'HTML-ENTITIES') | raw }}</h3>
  {% set desc = content.field_description|render|striptags|trim %}
  {{ desc |convert_encoding('UTF-8', 'HTML-ENTITIES') | raw }}

</div>
